In [17]:
import pandas as pd
paradas= pd.read_csv("./datos/paradas-de-colectivo.csv", encoding='latin1',delimiter=';')
paradas.head(5)

,X,Y,STOP_ID,TIPO,CALLE,NUMERO,ENTRE1,ENTRE2,LINEAS,DIR_NORM,CALLE_NORM,ALTURA_NOR,COORDX,COORDY,METROBUS,STOP_NAME,STOP_DESC,FUENTE,VERIFICADA,FECHA_ULTI
0,"-58,4327908137487","-34,5923809470",1000086,PARADAS CON REFUGIO,CORDOBA AV.,4859,ARMENIA,GURRUCHAGA,"{151,168}",CORDOBA AV. 4859,CORDOBA AV.,4859.0,102.798.829.931.999.000.000,104.091.825.983.000.000.000,F,NaN,NaN,RELEVAMIENTO2015,T,9/4/2015
1,"-58,5140298647844","-34,6016371880",1005465,PARADA NO OFICIAL,NUEVA YORK,4224,NaN,GUALEGUAYCHU,{105},NUEVA YORK 4224,NUEVA YORK,4224.0,95.346.600.539.799.900.000,103.064.210.534.000.000.000,F,NaN,NaN,RELEVAMIENTO2015,T,17/4/2015
2,"-58,4497660921390","-34,5544664433",1002096,PARADAS CON REFUGIO,DEL LIBERTADOR AV.,6250,BLANCO ENCALADA,OLAZABAL,"{15,29}",DEL LIBERTADOR AV. 6250,DEL LIBERTADOR AV.,6250.0,101.242.081.519.000.000.000,108.298.117.206.000.000.000,F,NaN,NaN,RELEVAMIENTO2015,T,10/4/2015
3,"-58,4941044948861","-34,5623407465",1006607,PARADAS CON REFUGIO,"LARRALDE, CRISOLOGO AV.",5187,NaN,NaN,"{110,71}","LARRALDE, CRISOLOGO AV. 5187","LARRALDE, CRISOLOGO AV.",5187.0,97.172.965.995.399.900.000,107.424.229.065.000.000.000,F,NaN,NaN,RELEVAMIENTO2015,T,14/4/2015
4,"-58,4844741311517","-34,5757583663",1004767,PARADAS DE POSTE,OLAZABAL AV.,4920,NaN,TRIUNVIRATO AV.,{90},OLAZABAL AV. 4920,OLAZABAL AV.,4920.0,98.057.080.321.899.900.000,105.936.009.144.000.000.000,F,NaN,NaN,RELEVAMIENTO2015,T,14/4/2015

In [19]:
recorridos= pd.read_csv("./datos/recorrido-colectivos.csv", encoding='latin1',delimiter=';')
recorridos.head(5)

,WKT,ID,LINEA,TIPO_SERVICIO,RAMAL,SENTIDO
0,LINESTRING (-58.6241836989073 -34.562823500814...,8438,175,COMUN BASICO,RAMAL A,VUELTA
1,LINESTRING (-58.4625359653171 -34.555477023218...,8439,175,COMUN BASICO,RAMAL A,IDA
2,LINESTRING (-58.4643450035316 -34.556404964623...,8440,169,COMUN BASICO,RAMAL A,IDA
3,LINESTRING (-58.4643450035316 -34.556404964623...,8441,169,COMUN BASICO,RAMAL B,IDA
4,LINESTRING (-58.6256346989071 -34.563149000814...,8442,169,COMUN BASICO,RAMAL A,VUELTA